{% extends "layout.html" %}
{% block content %}

	{% if user.is_authenticated %}
		<p>{{user.username}}</p>
		<p>Based on your interests we thought you might also like:</p>
		{% for event in events_by_interest %}
			<p><a href="{% url 'event' event.id %}">{{event.title}}</a></p>
		{% endfor %}
		<!--{% for vote in votes %}-->
		<!--	<p>{{vote.interestScore}}</p>-->
		<!--{% endfor %}-->
		<p>Based on events you visited we thought you might also like:</p>
		{% for event in events_by_other_users %}
			<p><a href="{% url 'event' event.id %}">{{event.title}}</a></p>
		{% endfor %}
		<!--{% for vote in voteOthers %}-->
		<!--	<p>{{vote.othersScore}}</p>-->
		<!--{% endfor %}-->
	{% else %}
		<p>Featured events</p>
		{% for event in events %}
			<p><a href="{% url 'event' event.id %}">{{event.title}}</a> Attendees = {{event.num_attendees}} Range = {{event.range}}</p>
		{% endfor %}
		<p>Recurrent events</p>
		{% for r in recurrent %}
			<p><a href="{% url 'event' r.id %}">{{r.title}}</a> {{r.recurrence}}</p>
		{% endfor %}
		{% for rec in recurrences %}
			<p><a href="{% url 'event' rec.event.id %}">{{rec.start_date}} {{rec.end_date}}</a> {{rec.event.title}}</p>
		{% endfor %}
	{% endif %}



{% endblock %}