{% extends "layout.html" %}
{% block content %}
{% load static %}
<style>
 body {
 background-image: url("{% static "logo.jpg" %}");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center; 
 }
</style>
	{% if user.is_authenticated %}
		<p>{{user.username}}</p>
		<p>Based on your interests we thought you might also like:</p>
		{% for event in events_by_interest %}
			<p><a href="{% url 'event' event.id %}">{{event.title}}</a></p>
		{% endfor %}
		<!--{% for vote in votes %}-->
		<!--	<p>{{vote.interestScore}}</p>-->
		<!--{% endfor %}-->
		<p>Based on events you visited we thought you might also like:</p>
		{% for event in events_by_other_users %}
			<p><a href="{% url 'event' event.id %}">{{event.title}}</a></p>
		{% endfor %}
		<!--{% for vote in voteOthers %}-->
		<!--	<p>{{vote.othersScore}}</p>-->
		<!--{% endfor %}-->
	{% else %}
		<p>Featured events</p>
		{% for event in events %}
			<p><a href="{% url 'event' event.id %}">{{event.title}}</a> Attendees = {{event.num_attendees}} Range = {{event.range}}</p>
		{% endfor %}
	{% endif %}



{% endblock %}