{% extends "layout.html" %}
{% block content %}
        <h1>Schedule</h1>
        <ul>
        {# FIXME: this shows all events even those that are past #}
        {% for event in schedule.events %}
        <div class="col-xs-6 col-lg-4">
        <h2><a href="{% url 'event' event.id %}">{{event.title}}</a></h2>
        <p>From: {{ event.start_time|date:"D d M Y P" }}</p>
        <p>To: {{ event.end_time|date:"D d M Y P" }}</p>
        <p>Description: {{ event.description }}</p>
        <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
        <form action="{% url 'scheduleevent' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{ event.id }}" />
        <input type="hidden" name="schedule" value="0" />
        <input type="submit" value="Remove from Schedule"/>
    </form>
        </div>
        {% endfor %}
        </ul>

    
{% endblock %}