{% extends "layout.html" %}
{% block head_content %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script type="text/javascript">
      $(document).ready(function() {
        var options = {
          timePicker : true,
          timePickerIncrement : 1,
          // timePicker24Hour : true,
          // autoApply : true,
          locale: {
            format: 'DD/MM/YYYY h:mm A'
          }
        };

        var pyformat = "YYYY-MM-DDTHH:mm:ssZZ";

        $('input[name="daterange"]').daterangepicker(options);
        $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {

          $('#formA input[name="startdate"]').val(picker.startDate.format(pyformat));
          $('#formA input[name="enddate"]').val(picker.endDate.format(pyformat));
        });

        $('#formA').submit(function () {
          $('input[name="daterange"]', this).prop('disabled', true);
            return true;
        });

        var now = moment();
        var next = moment().add(1,'m');

        // Set Hidden Values
        $('#formA input[name="startdate"]').val(now.format(pyformat));
        $('#formA input[name="enddate"]').val(next.format(pyformat));

        // Set Date Picker
        $('#formA input[name="daterange"]').data('daterangepicker').setStartDate(now);
        $('#formA input[name="daterange"]').data('daterangepicker').setEndDate(next);

      });
    </script>
{% endblock %}
{% block content %}
<div id="map" style="width:100%;height:500px;"></div>
    <script>
    markerArray = []
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 13
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('You are here.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        {% for event in events %}
        placeMarker(map, "{{event.title}}", "{{event.location}}", "{% url 'event' event.id %}");
        {% endfor %}
        
        
        // Add a marker clusterer to manage the markers.
              var markerCluster = new MarkerClusterer(map, markers,
              {imagePath: 'images/'});

      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
      
    function placeMarker(map, title, location , url) {
            var input = location.substring(1, location.length-1);
            var latlngStr = input.split(",",2);
            var lat = parseFloat(latlngStr[0]);
            var lng = parseFloat(latlngStr[1]);
            location = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
            var infowindow = new google.maps.InfoWindow({
              content: "<a href=\"" + url +"\">" + title + "</a>"
            });
            marker.addListener('click', function() {
            infowindow.open(map,marker)
            markerArray.push(location);
            })
    }
    </script>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClKcWsgdYmlnLItSUiD5YaJgbrD9ahed4&callback=initMap">
    </script>
<h2>Search for an event.</h2>
<form action="{% url 'search'%}" method="get">
  <input type="text" name="q">
  <input type="submit" value="submit">
</form>
</div>
</div>
{% for event in events %}
{% if event.public == True %}
<div class="col-xs-6 col-lg-4">
  <h2><a href="{% url 'event' event.id %}">{{ event.title }}</a></h2>
  {% if clashes %}
  <div class="alert-warning" role="alert">Clashes with <a href="{% url 'event' clashes.id%}">{{clashes.title}}</a></div>
  {% endif %}
  {% if inconsistentTime  %}
  <div class="alert-warning" role="alert">Time scheduled is {{inconsistentTime}}</div>
  {% endif  %}
  {% if inconsistentTime  %}
  <div class="alert-warning" role="alert">Time scheduled is {{inconsistentTime}}</div>
  {% endif  %}
  <p>From: {{ event.start_time|date:"D d M Y P" }}</p>
  <p>To: {{ event.end_time|date:"D d M Y P" }}</p>
  <p>Description: {{ event.description }}</p>
  <p>Tags:</p>
  {% for tag in event.eventTags.all %}
  <p>{{tag.name}}</p>
  {% endfor %}
  <form action="{% url 'scheduleevent' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="event_id" value="{{ event.id }}" /> {% if event in scheduled_events %}
    <input type="hidden" name="schedule" value="0" />
    <input type="submit" value="Remove from Schedule" /> {% elif not clashes %}
    <!-- TODO: use picker -->
    <label for="title">Going from:</label>
				<input type="text" id="new_start_time" name="new_start_time" placeholder="2016-11-25T12:00:00">
    <label for="title">Leaving at:</label>
				<input type="text" id="new_end_time" name="new_end_time" placeholder="2016-11-25T12:00:00">
    <label for="title">Going from:</label>
				<input type="text" id="new_start_time" name="new_start_time" placeholder="2016-11-25T12:00:00">
    <label for="title">Leaving at:</label>
				<input type="text" id="new_end_time" name="new_end_time" placeholder="2016-11-25T12:00:00">
    <input type="hidden" name="schedule" value="1" />
    <input type="submit" value="Add to Schedule" /> {% endif %}
  </form>
</div>
</div>
{% endif %}
{% endfor %} {%endblock %}