{% extends "layout.html" %} {% block content %}
<div id="map" style="width:100%;height:500px;"></div>

        <script>
          function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 13
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('You are here.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        {% for event in events %}
        placeMarker(map, "{{event.title}}", "{{event.location}}", "{% url 'event' event.id %}");
        {% endfor %}
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
      
    function placeMarker(map, title, location , url) {
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
            
            var infowindow = new google.maps.InfoWindow({
              content: "<a href=\"" + url +"\">" + title + "</a>"
            });
    }
    </script>
    
<h2>Search for an event.</h2>
<form action="{% url 'search'%}" method="get">
  <input type="text" name="q">
  <input type="submit" value="submit">
</form>
</div>
</div>
{% for event in events %}
<div class="col-xs-6 col-lg-4">
  <h2><a href="{% url 'event' event.id %}">{{ event.title }}</a></h2>
  {% if clashes %}
  <div class="alert-warning" role="alert">Clashes with <a href="{% url 'event' clashes.id%}">{{clashes.title}}</a></div>
  {% endif %}
  <p>From: {{ event.start_time|date:"D d M Y P" }}</p>
  <p>To: {{ event.end_time|date:"D d M Y P" }}</p>
  <p>Description: {{ event.description }}</p>
  <p>Tags:</p>
  {% for tag in event.eventTags.all %}
  <p>{{tag.name}}</p>
  {% endfor %}
  <form action="{% url 'scheduleevent' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="event_id" value="{{ event.id }}" /> {% if event in scheduled_events %}
    <input type="hidden" name="schedule" value="0" />
    <input type="submit" value="Remove from Schedule" /> {% elif not clashes %}
    <input type="hidden" name="schedule" value="1" />
    <input type="submit" value="Add to Schedule" /> {% endif %}
  </form>
</div>

  <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{API_Key}}&callback=initMap">
  </script>

</div>

{% endfor %} {%endblock %}