{% extends "layout.html" %}
{% block content %}
{% load static %}
   <link rel="stylesheet" href="{% static "customCSS/signupStyle.css" %}">

    <div class="row">
      
             <div class="col-xs-3"></div>
            <div class="col-xs-6" id="signupMain">
                <div class="row" id="top-bar">
                    
                   <h4>Sign up</h4> 
                    
                </div>
        <div class="row" id="signupContent">
            <div id="signForm">
                <form method="post" action=".">{% csrf_token %}
                    <p> Pick a username</p>
                    {{ form.username}} <br>
                    <p>{{ form.username.errors.as_text }}</p>
                    <p> Enter your email</p>
                    {{ form.email}}<br>
                    <p>{{ form.email.errors.as_text }}</p>
                     <p> Enter your password</p>
                    {{ form.password1}}<br>
                     <p> Enter your password again</p>
                    {{ form.password2}}<br>
                    {% for error in form.non_field_errors %}
                    <p> {{error}}</p>
                    {% endfor %}
                    <input type="submit" value="Register" />

                    <p><strong>-- Or --</strong></p>
                    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
                    <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>
                    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
                </form>
            </div>
        </div>
      </div>
    </div>
  

{%endblock %}