li {
    list-style-type: none;
   
}

#user-content{
    
    margin: 15px;
    border-radius: 250px;
}

#side-bar{
    
    background-color: #ffffb3
}

#main-content{
    min-height: 250px;
    background-color: #ffecb3
}