{% extends "layout.html" %}
{% block content %}
{% load static %}
   <link rel="stylesheet" href="{% static "customCSS/loginStyle.css" %}">





 <div class="col-xs-3"></div>
            <div class="col-xs-6" id="main">
            	
            	<div class="row" id="top-bar">
            	<h4>Login</h4>	
            		
            	</div>
            	
            		<div class="row" id="loginContent">
            			
            			{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %} {% endif %}
<form method="post" action="{% url 'login' %}">
	{% csrf_token %}

	
		<p> Enter your username</p>
            {{ form.username}} <br>
			<p> Enter your password</p>
		{{ form.password }}<br>
	


		<input type="submit" value="login" />
		<input type="hidden" name="next" value="" />

		<p><strong>-- Or --</strong></p>
        <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
        <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>
        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
</form>
<br>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>




{% endblock %}
