<h2> {{ user.username }}'s profile </h2>


<div id="changeField">

    <br>
    <br>
    
    <p><b>Interests:</b>
        {% for tag in tags %}
        <p>{{tag.name}}</p>
        {% endfor %}
        
       <br><input type="submit" value="Edit" id="interests" data="{% url 'interests' %}"/></p>
    
    <p> <b>Name: </b>
    
    {% if user.first_name == "" %}
         <br><input type="submit" value="Add" id="nameButton" data="{% url 'name' %}"/></p>  
    {% else %}
        {{ user.first_name }} {{ user.last_name}} <input type="submit" value="change" id="nameButton" data="{% url 'name' %}"/></p> 
    {% endif %} 
    
    <b>Email:</b> {{ user.email }}  <br><input id="mailButton" type="submit" value="Change" data="{% url 'email' %}" />
    
    <br> 
    <br>
        <form action="{% url 'change_password' %}" method="get">
     <b>Change password:</b> <br><input type="submit" value="Change" />
    </form>

    <br>
    
    {% if user.payment == "" %}
        Add payment: <br><input id="paymentButton" type="submit" value="add"  data="{% url 'addPayment' %}"/>
    {% else %}
       <b>Payment method:</b> {{ user.payment }}  <br><input id="paymentButton" type="submit" value="Change"  data="{% url 'addPayment' %}"/>
    {% endif %} 

</div>

{% load static %}
    <script src="{% static "editScript.js" %}"></script>
