li {
    list-style-type: none;
   
}

#user-content{
        background-color: white;
    min-height: 700px;
    margin: 15px;

}

#side-bar{
    padding-top: 15px;

  height: 700px;
  text-align: center;
}

#main-content{
    min-height: 250px;
}

ul{
    float:right;
    padding: none;
    list-style-type: none;
}

#linkrow{
    
    float: right;
}

li{
    
    float:right;
}