.jumbotron{
	visibility: none;
	/*background-color:  #337ab7;*/
}

#navbar{
  text-align: center;
}

#content{
    width: 100%;
    /*background-color:  #337ab7;*/
    min-height: 800px;
}


.main{
	/*background-color: #337ab7;*/
	
}

