

#top-bar{
   background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
        background-color: #337ab7;
    text-align: center;
    border: 3px solid #337ab7;
    border-bottom: none;
    border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     color: white;
     padding-bottom: 2%;
     padding-top: 2%;
}

#signupContent{
    color: black;
     background-color: white;
     padding-top: 5%;
     padding-bottom: 5%;
     border-bottom: solid;
     border-bottom-color:  #337ab7;
     border-bottom-width: 8px;
     border-bottom-left-radius: 3%;
      border-bottom-right-radius: 3%;
}

form{
   
color:black;
margin-right: auto;
    text-align: center;
color:black;
}


p{
    font-weight: bold;
    color:black;
    
}

input{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}